doctype html
html
	head
		meta(charset='utf-8')
		title= title
		meta(name='description', content='About Amit Maraj')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(href='css/socicon.css', rel='stylesheet', type='text/css', media='all')
		link(href='css/iconsmind.css', rel='stylesheet', type='text/css', media='all')
		link(href='css/bootstrap.css', rel='stylesheet', type='text/css', media='all')
		link(href='css/interface-icons.css', rel='stylesheet', type='text/css', media='all')
		link(href='css/owl.carousel.css', rel='stylesheet', type='text/css', media='all')
		// <link href="css/theme-purple.css" rel="stylesheet" type="text/css" media="all"/>
		link(href='css/custom2.css', rel='stylesheet', type='text/css', media='all')
		link(href='css/style.css', rel='stylesheet', type='text/css', media='all')
		link(href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700|Montserrat:400,700', rel='stylesheet', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Muli:400,400italic,300italic,300%7CLato:400,400italic', rel='stylesheet', type='text/css')
		//- link(href='css/font-mulilato.css', rel='stylesheet', type='text/css')
		link(href='css/font-robotoslabroboto.css', rel='stylesheet', type='text/css')
	body.theme--square(data-reveal-selectors="section:not(.masonry):not(:first-of-type):not(.parallax)")
		include ./common/header.pug
		block content
		include ./common/footer.pug
		script(src='js/jquery-2.1.4.min.js')
		script(src='js/scrollreveal.min.js')
		script(src='js/parallax.js')
		script(src='js/scripts.js')

