extends layout

block content
	.main-container
		section
			.container
				.row
					.col-md-8.col-md-offset-2.col-sm-12.text-center
						h6 Teaching Portfolio
						p.lead
							| I believe in 3 essential keys to breeding an optimal learning environment: 
							br
							b comfort
							| ,
							b  respect
							| , and 
							b communication
							| .
						img.signature(alt='signature', src='img/sig.png')
		section
			.container.teaching-philosophy-container
				.row.m-b-20
					.philosophy-paragraph
						h4 Teaching Philosophy
						p Students want to learn because they are passionate about the topic they are learning. Ultimately, knowledge retention is enriched by the amount of effort and passion displayed by the student. Although learning can be accomplished without these ingredients, they are much better motivators than a high grade on a test.
						p My goal as a teacher is to spark interest and passion within my students. I hope to bring a new light to the topic being taught to help students understand the important and relevancy of the topic. I look at myself as a bodybuilder of a teacher, I exercise and strengthen the flabby minds so learners can face the heavyweight learning tasks of the future.
						blockquote
							p
								i.quote Being a student is easy. Learning requires actual work.
						p.text-right — William Crawford
						p I don’t believe subject matter affects the way I teach. Learning on the other hand can be affected by subject matter and the interest displayed by students. Depending on the types of activities and environment fostered for learning, a dry topic can become something of interest for students, especially if it can be connected to practicality. Learning how to hammer would be less effective if one wrote an essay about it rather than actually doing it to build something.
						h4 When I teach I:
						ul.teaching-examples
							li 1. Tell stories and use examples
							li 2. Connect to experiences
							li 3. Advocate for activite learning
							li 4. Use humour to build comfort
							li 5. Foster collaboration
						blockquote
							p
								i.quote Tell me and I forget, teach me and I may remember, involve me and I learn.
						p.text-right — Benjamin Franklin
						p I believe learning should be as fun as doing. Learning a topic and working with a topic can be polar opposites in terms of experience, but I believe learning can be just as fun as experiencing if done correctly. Learning should not feel like a hassle, rather it should be enjoyed and looked forward to. 

				.row
					.col-sm-12
						.elements--title.text-center
							br
							br
							h4 Classroom Values
							hr
				.row
					.col-sm-4
						.feature.feature-1
							i.icon.icon-Aerobics-3.icon--lg.color--primary
							h4 Respect
							p My students will be treated with respect.
					.col-sm-4
						.feature.feature-1
							i.icon.icon--lg.icon-Fingerprint-2.color--primary
							h4 Equality
							p
								| My students will be treated equally. Being treated equally also means that I will treat my students differently depending on their needs in order to give them all equal opportunities to succeed.
					.col-sm-4
						.feature.feature-1
							i.icon.icon-Mens.icon--lg.color--primary
							h4 Rapport
							p
								| I will get to know my students, their strength, weaknesses, and backgrounds as to meet their individual needs to the best of my abilities.
				.row
					.col-sm-4
						.feature.feature-1
							i.icon.icon-Lollipop.icon--lg.color--primary
							h4 Variety
							p
								| I will teach concepts in a variety of methods in support of Gardner’s theory of multiple intelligences, to tailor the learning experience to each of my students.
					.col-sm-4
						.feature.feature-1
							i.icon.icon-Light-Bulb.icon--lg.color--primary
							h4 Adaptation
							p
								| My lessons are student-centred and are based upon the susceptibility of alteration in regards to student constructive criticism.
					.col-sm-4
						.feature.feature-1
							i.icon.icon-Affiliate.icon--lg.color--primary
							h4 Collaboration
							p
								| I believe that group work helps my students to develop life-long intrapersonal and soft skills, which are useful in not only the workforce, but in the world in general.
				.row
					.col-sm-4
						.feature.feature-1
							i.icon.icon-Hand.icon--lg.color--primary
							h4 Hands-on
							p I believe in project-based learning. 
					.col-sm-4
						.feature.feature-1
							i.icon.color--primary.icon-Cloud-Computer.icon--lg
							h4 Enriched Learning
							p
								| I believe in incorporating technology in the classroom to enrich the learning experience.
					.col-sm-4
						.feature.feature-1
							i.icon.icon-Check.icon--lg.color--primary
							h4 Goals
							p
								| I will keep goals for my students in mind when creating lesson plans and projects.
				.row
					.col-sm-4
						.feature.feature-1
							i.icon.color--primary.icon-Aerobics.icon--lg
							h4 Unique Experiences
							p
								| I believe in providing my students with social and educational experiences outside of the school that they may not be exposed to.
					.col-sm-4
						.feature.feature-1
							i.icon.color--primary.icon-Happy.icon--lg
							h4 Positivity
							p
								| I believe that fostering a positive attitude will make my students happier individuals in and outside the classroom.
		section.bg--secondary(style='margin-top:-80px')
			.container
				.row
					.col-sm-12
						.elements--title.text-center
							h4 Teaching Achievements
				.row
					.col-xs-offset-2.col-xs-8
						.feature.feature-3
							.feature__left
								i.icon.icon-Ribbon-2.color--third
							.feature__right
								p
									| Taught for 7 semesters at Durham College over the past 3 years for a total of 7 different courses within the Computer Systems and Programming streams.
					.col-xs-offset-2
					.col-xs-offset-2.col-xs-8
						.feature.feature-3
							.feature__left
								i.icon.icon-Ribbon-2.color--third
							.feature__right
								p
									| Taught 2/3 past semesters at Durham College as partial load after receiving my undergraduate degree.
					.col-xs-offset-2
					.col-xs-offset-2.col-xs-8
						.feature.feature-3
							.feature__left
								i.icon.icon-Ribbon-2.color--third
							.feature__right
								p
									| Developed all the course material (lectures, labs, assessments, in-class work) for WEBC6201 - Client Side Scripting and delivered it to third year CPA (Computer Programmer Analyst) students.
					.col-xs-offset-2
					.col-xs-offset-2.col-xs-8
						.feature.feature-3
							.feature__left
								i.icon.icon-Ribbon-2.color--third
							.feature__right
								p
									| Developed and delivered lab and lecture material for the course CSYS2 - Software collaboratively alongside a co-professor in Winter 2016 and Summer 2016.
					.col-xs-offset-2
					.col-xs-offset-2.col-xs-8
						.feature.feature-3
							.feature__left
								i.icon.icon-Ribbon-2.color--third
							.feature__right
								p Courses taught:
								ul
									li CSYS - Software (DC)
									li CSYS - Hardware (DC)
									li Databases (DC)
									li Scripting & Automation 1 (DC)
									li Computer Operating Systems (DC)
									li Web Development - Enterprise (DC)
									li Web Development - Client Side Scripting (DC)
									li Machine Learning (UOIT)
									li Cryptography (UOIT)
									li Discrete Mathematics (UOIT)
					.col-xs-offset-2
