footer.footer-2.text-center-xs
  .container
    .row
      .col-sm-4.text-center-xs
        ul.social-list
          li
            a(href='https://github.com/maraja', target='_blank')
              i.socicon-github
          li
            a(href='https://www.facebook.com/amit.maraj.5', target='_blank')
              i.socicon-facebook
          li
            a(href='https://www.linkedin.com/in/amit-maraj-92548a96/', target='_blank')
              i.socicon-linkedin
    .row
      .col-sm-12
        ul.footer__navigation
          li
            a(href='/') Home
          li
            a(href='/teaching') Teaching
          li
            a(href='/projects') Client Projects
          li
            a(href='/contact') Contact
    .row
      .col-sm-12
        a.type--underline(href='mailto:amit.maraj@gmail.com') amit.maraj@gmail.com
    .row
      .col-sm-12
        .footer__lower
          span.type--fine-print
            | © Copyright
            span.update-year 2017
            | Amit Maraj - All
            | 		                    Rights Reserved