.nav-container
  nav
    .nav-bar(data-fixed-at='700')
      .nav-module.menu-module.left
        ul.menu
          li
            a(href='/') Home
          li
            a(href='/teaching') Teaching
          li
            a(href='/projects') Client Projects
          li
            a(href='/contact') Contact
          li
            a(href='/files/AmitMarajResume_May2017.pdf' target="_blank") Resume
    .nav-mobile-toggle.visible-sm.visible-xs
      i.icon-Align-JustifyAll.icon.icon--sm